<h1>Connected users</h1>

<% if @sent_invites.any? %>
  <h3>Invited user</h3>

  <%#= paginate(@sent_invites) %>

  <ul>
    <% @sent_invites.each do |invitation| %>
      <li><%= link_to invitation.invited_user.full_name, user_path(invitation.invited_user) %></li>
    <% end %>
  </ul>

  <%#= paginate(@sent_invites) %>
<% end %>

<% if @received_invites.any? %>
  <h3>Invitations received</h3>

  <%#= paginate(@received_invites) %>

  <ul>
    <% @received_invites.each do |invitation| %>
      <li><%= link_to invitation.invited_user.full_name, user_path(invitation.invited_user) %></li>
    <% end %>
  </ul>

  <%#= paginate(@received_invites) %>
<% end %>
